<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>

    <h1>VEILBID</h1>

        <ul>
            <li><a th:href="@{/}"><button type = button> РЕГИСТРАЦИЯ </button></a></li>
            <li><a th:href="@{/lots}"><button type = button> АВТОРИЗАЦИЯ </button></a></li>
        </ul>

    </header>

    <nav class="navbar">
        <ul>
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/lots}">Все лоты</a></li>
            <li><a th:href="@{/about}">О нас</a></li>
        </ul>
    </nav>

    <main>
        <h3>Тут отражаются лоты</h3>
    </main>

    <footer>
        <h1>VEILBID</h1>
    </footer>

</body>
</html>